.container {
    display:grid;
    gap:1px;
    grid-auto-flow:row;

}

.i1 {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 1px;
    grid-row-gap: 1%;
    margin-right: 50px;
    grid-template-areas:
    "a1 a1 a2 a2 a3 a3 a4 a4"
    "a1 a1 a2 a2 a3 a3 a4 a4"
    "b1 b1 b2 b2 b3 b3 b4 b4"
    "b1 b1 b2 b2 b3 b3 b4 b4"
    "c1 c1 c2 c2 c3 c3 c4 c4"
    "c1 c1 c2 c2 c3 c3 c4 c4";
}

.a1 { grid-area: a1; }

.a2 { grid-area: a2; }

.a3 { grid-area: a3; }

.a4 { grid-area: a4; }

.b1 { grid-area: b1; }

.b2 { grid-area: b2; }

.b3 { grid-area: b3; }

.b4 { grid-area: b4; }

.c1 { grid-area: c1; }

.c2 { grid-area: c2; }

.c3 { grid-area: c3; }

.c4 { grid-area: c4; }

.cp{
    padding: 110px;
    border-radius: 15px;
    background-color: #292b2c;
    border: solid 2px #333436;
}

.a1c {
}
.a2c {
}
.a3c {
}
.a4c {
}
.b1c {
}
.b2c {
}
.b3c {
}
.b4c {
}
.c1c {
}
.c2c {
}
.c3c {
}
.c4c {
}