@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$light: #eeeeee;
$dark:       #0c0c04;
$primary: #3c9642;
$secondary: #cfffbc;
$info:       #BB86FC;
$success: #00ff85;
$warning:    #efd103;
$danger:     #ff1521;
$white:      #FFFFFF;
$sub: #589858;
body {
  font-family: "Montserrat", sans-serif;
}

.bg-sub {
  background-color: $sub;
}

@import "node_modules/bootstrap/scss/bootstrap";